<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head th:replace="~{layout/comm/config :: configFragment}"></head>
<body>
	<!-- header -->
	<header th:replace="~{layout/comm/header :: headerFragment}"></header>

	<!-- category -->
	<nav th:replace="~{layout/comm/category :: categoryFragment}"></nav>
	

	<main>
		<!-- 페이지별 메인컨텐츠 -->
		<th:block layout:fragment = "content">
			<!-- 각페이지의 메인 컨텐츠 코드-->
		</th:block>
		
		
		<!-- footer -->
		<footer th:replace="~{layout/comm/footer :: footerFragment}"></footer>
	</main>

	<!-- script -->
	<th:block th:replace="~{layout/comm/script :: script}"></th:block>


	<!-- 페이지별 필요한 스크립트 재정의 -->
    <th:block layout:fragment = "script">
      <!--각각의 페이지에서 필요한 자바사크립트 작성-->  
    </th:block>

	<script>
		// [1차 카테고리 선택]
		$("nav#category_menu div ul li a").on("mouseover", function(e) {

			e.preventDefault();

			let cur_first_category = $(this);
			let cat_code =  $(this).data("cat_code");
			
			//console.log("cat_code: " + cat_code);  //정상출력확인

				//2차 카테고리 주소
				let url = "/admin/category/secondcategory/" + cat_code;

				//function(secondcategory_result) : 콜백함수, secondcategory_result: 임의로 정한 이름. 값은 url에서 받아옴. 
				$.getJSON(url, function(secondcategory_result) {

					let str = '<div class="dropdown-menu" id="second_categry">';

					for(let i=0; i<secondcategory_result.length; i++) {
						str += `<a class="dropdown-item" href="#" data-cat_code="${secondcategory_result[i].cat_code}">${secondcategory_result[i].cat_name}</a>`;
					}
					str += "</div>";

					console.log("str:", str); //정상출력확인
					cur_first_category.parents("nav#category_menu").find("div#second_categry").remove();
					cur_first_category.parents("nav#category_menu div ul li").append(str);
				}); 
		});
	
		// [2차 카테고리 선택]
		$("nav#category_menu").on("click", "div#second_categry a", function(e) {

			e.preventDefault();

			let cat_code = $(this).data("cat_code");
			let cat_name = encodeURIComponent($(this).html());  // html() : 선택한 태그 내 에 있는 내용을 가져옴 (만약에 <b>내용</b> 이런식으로 감싸고 있으면 <b>태그 까지 포함해서 가져옴)

			console.log("2차 카테고리 코드:", cat_code);
			console.log("2차 카테고리 이름:", cat_name);

			location.href = `/product/pro_list?cat_code=${cat_code}&cat_name=${cat_name}`;	
		});


	</script>


</body>
</html>