<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{admin/layout/adminlayout}">

    <th:block layout:fragment = "content">
	<script src="/plugins/ckeditor/ckeditor.js"></script>
	  <!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper">
	    <!-- Content Header (Page header) -->
	    <section th:replace="~{admin/product/pro_top_menu}"></section>
	
	    <!-- Main content -->
	    <section class="content container-fluid">
	
	      <div class="row">
	    		<div class="col-md-12">
	    			<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title mt-5" style="font-weight:bold;">전체상품관리</h3>
						</div>
						
						  <div class="box-body">
							<!-- 검색옵션 -->
							<div>
								<form action="/admin/product/pro_list" method="get">
									<div style="display: inline-block">
									  <select class="form-control" name="type">
				                        <option selected>검색종류 선택</option>
				                        <option value="N">상품명</option>
				                        <option value="C">상품코드</option>
				                        <option value="P">제조사</option>
				                        <option value="NP">상품명 or 제조사</option>
				                      </select>
				     				</div>
									<div style="display: inline-block">
										<input type="text" class="form-control" name="keyword" th:value="${pageMaker.cri.keyword}" style="width:150px;" />
										<input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}"/>
										<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}"/>
									</div>
									<div style="display: inline-block">
										<button type="submit" class="btn btn-primary">검색</button>
									</div>	
									
								</form>
							</div>
							
							<hr>
							<!-- 상품 테이블 -->
							<table class="table table-bordered">
			                    <tbody>
				                    <tr>
				                      <th style="width: 3%; text-align: center;"><input type="checkbox" id="checkAll"></th>
				                      <th style="width: 7%; text-align: center;">상품코드</th>
				                      <th style="width: 30%; text-align: center;">상품명</th>
				                      <th style="width: 15%; text-align: center;">가격</th>
				                      <th style="width: 15%; text-align: center;">등록일</th>
				                      <th style="width: 10%; text-align: center;">판매여부</th>
				                      <th style="width: 10%; text-align: center;">수정</th>
				                      <th style="width: 10%; text-align: center;">삭제</th>
				                    </tr>
				                    <tr th:each="product : ${pro_list}">
				                      <td style="text-align: center; vertical-align: middle;"><input type="checkbox" name="check" th:value="${product.pro_num}"></td>
				                      <td style="text-align: center; vertical-align: middle;">[[${product.pro_num}]]</td>
				                      <td vertical-align: middle;>
				                      	<a class="move" href="#">
				                      		<img th:src="${'/admin/product/image_display?dateFolderName=' + product.pro_up_folder + '&fileName=s_' + product.pro_img}" style="width: 50px; height:50px;">
				                      	</a>
				                      	&nbsp&nbsp
				                      	<a class="move pro_name" href="#" th:text="${product.pro_name}"></a>
				                      </td>
				                      <td style="text-align: center; vertical-align: middle;"><input type="text" name="pro_price" th:value="${product.pro_price}"></td>
				                      <td th:text="${#dates.format(product.pro_date, 'yyyy-MM-dd HH:mm:ss')}" style="text-align: center; vertical-align: middle;"></td>
				                      <td style="text-align: center; vertical-align: middle;">
				                      	<select name="pro_buy">
				                      		<option value="Y" th:selected="${product.pro_buy =='Y'}">판매가능</option>
				                      		<option value="N" th:selected="${product.pro_buy =='N'}">판매불가능</option>
				                      	</select>
				                      </td>
				                      <td style="text-align: center; vertical-align: middle;"><button type="button" class="btn btn-primary" name="btn_pro_edit" th:data-pro_num="${product.pro_num}">수정</button></td>
				                      <td style="text-align: center; vertical-align: middle;"><button type="button" class="btn btn-danger" name="btn_pro_del" th:data-pro_num="${product.pro_num}">삭제</button></td>
				                    </tr>
			                 	</tbody>
			                 </table>								
						
						  </div>
                          <div class="box-footer clearfix">
							
							<div class="row">

								<div class="col-md-3">
							
									<button type="button" class="btn btn-success" id="btn_check_modify">일괄수정</button>
									<button type="button" class="btn btn-danger" id="btn_check_delete">일괄삭제</button>
								<!--actionForm-->	
								<form id="actionForm" action="" method="get">
									<input type="hidden" name="pageNum" id="pageNum" th:value="${pageMaker.cri.pageNum}" />
									<input type="hidden" name="amount" id="amount" th:value="${pageMaker.cri.amount}" />
									<input type="hidden" name="type" id="type" th:value="${pageMaker.cri.type}" />
									<input type="hidden" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}" />
								</form>

								</div>
								<!--페이징-->
								<div class="col-md-8 text-center">
									
									  <nav aria-label="...">
										<ul class="pagination">
											<!-- 이전 표시여부 -->
											
											<th:block th:if="${pageMaker.prev }">
												<li class="page-item">
													<a th:href="${pageMaker.startPage - 1 }" class="page-link movepage">Previous</a>
												</li>
											</th:block>
		
											<th:block th:with="pageMaker = ${pageMaker}">
												<th:block th:each="num : *{#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
												<li class='page-item' th:classappend="${pageMaker.cri.pageNum ==  num ? 'active': '' }" aria-current="page">
													<a class="page-link movepage" th:href="${num }" th:text="${num }"></a>
												</li>
												</th:block>
											</th:block>
		
											<!--  다음 표시여부 -->
											<th:block th:if="${pageMaker.next }">
												<li class="page-item">
													<a th:href="${pageMaker.endPage + 1 }" class="page-link movepage">Next</a>
												</li>
											</th:block>
											
										</ul>
										</nav>
								</div>
								<div class="col-md-1 text-right">
									<a class="btn btn-primary" th:href="@{/admin/product/pro_insert}">상품등록</a>
								</div>
							</div>
        
                         </div>
						
					</div>
	    		</div>
	    	</div>
	
	    </section>
	    <!-- /.content -->
	  </div>
	  <!-- /.content-wrapper -->
    </th:block>


    <th:block layout:fragment = "script">
      <script>
		$(document).ready(function(){

			// 액션폼 전역변수
			let actionForm = $("#actionForm"); 

			// [페이징]
			$(".movepage").on("click", function(e) {
				e.preventDefault();

				actionForm.attr("action", "/admin/product/pro_list");
				actionForm.find("input[name='pageNum']").val($(this).attr("href"));
				
				
				
				actionForm.submit();
			});

			
			//[수정버튼 클릭시]
			$("button[name='btn_pro_edit']").on("click", function() {
				let pro_num = $(this).data("pro_num");  //수정버튼에 숨겨져 있던 상품번호

				actionForm.find("input[name='pro_num']").remove();

				console.log("상품코드 : " + pro_num);

				let str = `<input type="hidden" name="pro_num" id="pro_num" value="${pro_num}" />`;

				actionForm.append(str);
				
				actionForm.attr("method", "get");
				actionForm.attr("action", "/admin/product/pro_edit");
				actionForm.submit();
			});


			//[삭제버튼 클릭시] name=btn_pro_del
			$("button[name='btn_pro_del']").on("click", function() {
				
				// 관라자가 상품 삭제 클릭시, 취소할 경우를 true로 해서 return 진행.
				if(!confirm("상품을 삭제하시겠습니까?")) return;

				// 상품 번호 받아옴.
				let pro_num = $(this).data("pro_num");

				// 뒤로버튼 클릭시 사용되어 문제를 일으킴 방지목적. 
				// 같은 컴퓨터를 사용하는 2명의사용자가 있는데 1명의 사용자가 상품정보 삭제후 자리를 비우고 2번 사용자가 자리에 와서 뒤로가기 를 눌렀을 때
				// 제거를 하지 않은 input태그(name=pro_num)가 있는 상태에서 또 동일한 태그가 추가되어 오류가 발생할 수 있으므로,
				// 혹시모를 상황을 대비해 미리 제거하고 진행한다.
				// 추후 뒤로가기를 막는 방법을 찾아볼 것.
				actionForm.find("input[name='pro_num']").remove();

				//console.log("");

				let str = `<input type="hidden" name="pro_num" id="pro_num" value="${pro_num}" />`;

				actionForm.append(str);
				
				actionForm.attr("method", "post");
				actionForm.attr("action", "/admin/product/pro_delete");
				actionForm.submit();

			});


			// 제목행 checkBox 체크시 일괄체크하기 // id="checkAll
			let ischeck = true;   
			$("#checkAll").on("click", function() {
			//id값이 checkAll인 요소를 클릭하면 아래 구문 실행

				$("input[name='check']").prop("checked", this.checked);
				// name값이 check인 input태그들에 checked속성을 this.checked속성으로 설정
				// this.checked는 #checkAll의 체크상태를 의미.

				isCheck = this.checked;
				// 전체 체크박스의 상태를 대입.
			});


			// 목록 데이터행 체크하기
			$("input[name='check']").on("click", function() {
				//name값이 check인 input태그들을 클릭했을 때 아래 구문 실행

				$("#checkAll").prop("checked", this.checked);
				// id값이 checkAll인 태그의 checked상태를 현재 클릭된 체크박스 상태로 설정.

				$("input[name='check']").each(function() {
					if(!$(this).is(":checked")) {
						//name이 check인 input태그들의 상태가 checked가 아닐경우 아래 구문 실행
						$("#checkAll").prop("checked", false);
						// id값이 checkAll인 요소의 checked 상태는 거짓. 즉 전체체크 상태 해제
					}
				});
			});


			//체크상품 일괄 수정 id="btn_check_modify"
			$("#btn_check_modify").on("click", function() {
			// 수정버튼 클릭시

				if($("input[name='check']:checked").length == 0) {
				// 만약 name이 check인 input태그 중 체크된 항목이 없다면(0이면)

					alert("수정할 상품을 체크하세요");
					return;
					// 함수 종료
				}

				let pro_num_arr = [];
				let pro_price_arr = [];
				let pro_buy_arr = [];

				$("input[name = 'check']:checked").each(function() {
					//name이 check인 input태그들이 체크될 경우

					// 해당 태그들의 값을 추가
					pro_num_arr.push($(this).val());
					pro_price_arr.push($(this).parent().parent().find("input[name='pro_price']").val());
					pro_buy_arr.push($(this).parent().parent().find("select[name='pro_buy']").val());
				});

				$.ajax({
					url: "/admin/product/pro_checked_modify",
					type: 'post',
					data: {pro_num_arr : pro_num_arr, pro_price_arr: pro_price_arr, pro_buy_arr: pro_buy_arr},
					dataType : 'text',
					success: function(result) {
						if(result == 'success') {
							alert("체크상품이 수정되었습니다.");
							location.reload();
						}
					},
					error: function(xhr, status, error) {
						alert("에러가 발생했습니다:" + error);
					}
				});
			});


			// 체크상품 일괄 삭제 id="btn_check_delete"
			$("#btn_check_delete").on("click", function() {
			//삭제버튼 클릭시

				//선택한 체크박스가 없다면 함수 종료
				if($("input[name='check']:checked").length == 0) {
					alert("삭제할 상품을 체크하세요");
					return;
				}

				// 삭제기능 수행 전
				if(!confirm("정말로 삭제하시겠습니까?")) {
					return;
				}

				let pro_num = [];
				
				//체크된 체크박스 값을 pro_num배열에 추가
				$("input[name = 'check']:checked").each(function() {
					pro_num.push($(this).val());
				});
				console.log("삭제목록:"+ pro_num);

				$.ajax({
					url: "/admin/product/pro_checked_delete",
					type: 'post',
					data: {pro_num : pro_num},
					dataType : 'text',
					success: function(result) {
						if(result == 'success') {
							alert("체크 된 상품이 삭제되었습니다.");
							location.reload();
						}
					},
					error: function(xhr, status, error) {
						alert("에러가 발생했습니다:" + error);
					}
				});
			});

	
			


		});  //ready end
      
      
      </script>
    </th:block>


</html>
