<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smilemall.basic.admin.member.AdminMemberMapper">

	<sql id="criteria">
		<trim prefix= "(" suffix=") AND" prefixOverrides="OR" >
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'N'.toString()">
							mbsp_name like '%' || #{keyword} || '%'					
						</when>
						<when test="type == 'I'.toString()">
							mbsp_id like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'E'.toString()">
							mbsp_email like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'P'.toString()">
							mbsp_phone like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- [회원목록] -->
	<select id="member_list" resultType="MemberVo" parameterType="Criteria">
		SELECT  
			mbsp_id, 
			mbsp_name, 
			mbsp_email, 
			mbsp_password, 
			mbsp_zipcode, 
			mbsp_addr, 
			mbsp_deaddr, 
			mbsp_phone,
			mbsp_nick, 
			mbsp_receive, 
			mbsp_point, 
			mbsp_lastlogin, 
			mbsp_datesub, 
			mbsp_updatedate
		FROM (
	    	SELECT /*+ INDEX_DESC(mbsp_tbl PK_MBSP_ID) */
	        	ROWNUM AS RN, 
	        	mbsp_id, 
				mbsp_name, 
				mbsp_email, 
				mbsp_password, 
				mbsp_zipcode, 
				mbsp_addr, 
				mbsp_deaddr, 
				mbsp_phone,
				mbsp_nick, 
				mbsp_receive, 
				mbsp_point, 
				mbsp_lastlogin, 
				mbsp_datesub, 
				mbsp_updatedate
	    	FROM 
	        	mbsp_tbl
	    	WHERE 
	    	<include refid="criteria"></include>
	    <![CDATA[
	    	ROWNUM <= (#{pageNum} * #{amount}) 
	    ]]>
	    	)
		WHERE 
			RN > (#{pageNum} - 1) * #{amount} 
			
	</select> 		

	<!-- [전체회원 데이터 수] -->
	<select id="getTotalCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			mbsp_tbl
		WHERE
			<include refid="criteria"></include> 
	    	mbsp_id IS NOT NULL
	</select>

	<!--  [회원상세정보] -->
	<select id="member_info" parameterType="String" resultType="MemberVo">
		SELECT
        	mbsp_id, 
			mbsp_name, 
			mbsp_email, 
			mbsp_password, 
			mbsp_zipcode, 
			mbsp_addr, 
			mbsp_deaddr, 
			mbsp_phone,
			mbsp_nick, 
			mbsp_receive, 
			mbsp_point, 
			mbsp_lastlogin, 
			mbsp_datesub, 
			mbsp_updatedate
		FROM
			mbsp_tbl
		WHERE
			mbsp_id = #{mbsp_id}
	</select>
	
	
	<!-- [회원상세정보 수정하기] --> 
	<update id="member_modify" parameterType="MemberVo">
		UPDATE
			mbsp_tbl
		SET
			mbsp_email = #{mbsp_email}, 
			mbsp_zipcode = #{mbsp_zipcode}, 
			mbsp_addr = #{mbsp_addr}, 
			mbsp_deaddr = #{mbsp_deaddr}, 
			mbsp_phone = #{mbsp_phone},
			mbsp_receive = #{mbsp_receive}, 
			mbsp_updatedate = SYSDATE
		WHERE
			mbsp_id = #{mbsp_id}
	</update>
	
	<!-- [회원정보 삭제하기]--> 
	<delete id="member_delete" parameterType="String">
		DELETE FROM
			mbsp_tbl
		WHERE
			mbsp_id = #{mbsp_id}
	</delete>
	
	<!-- [회원정보 일괄삭제] -->
	<delete id="member_checked_delete" parameterType="List">
		<foreach collection="list" item="item" open="declare begin" separator=";" close="; end;">
			DELETE FROM
				mbsp_tbl
			WHERE
				mbsp_id = #{item}
		</foreach>
	</delete>

	<!-- [회원주문정보목록] -->
	<select id="member_ord_info_list" parameterType="String" resultType="OrderVo">
		SELECT
	        ord_code, 
			mbsp_id, 
			ord_name, 
			ord_tel, 
			ord_regdate, 
			ord_addr_zipcode, 
			ord_addr_basic, 
			ord_addr_detail, 
			ord_price, 
			ord_desc, 
			ord_admin_memo
		FROM
			order_tbl
		WHERE
			mbsp_id = #{mbsp_id}
	</select> 
	
	<!-- [전체회원 데이터 수] -->
	<select id="getTotalCountOrderList" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM
			order_tbl
		WHERE
	    	mbsp_id = #{mbsp_id}
	</select>

	<!-- [회원주문정보목록: 총주문금액] -->
	<select id="OrderPriceTotal" parameterType="String" resultType="int">
	    SELECT
	        COALESCE(SUM(ord_price), 0)
	    FROM
	        order_tbl
	    WHERE
	        mbsp_id = #{mbsp_id}
	</select>
	
	<!-- [메일저장] -->
	<insert id="mailing_save" parameterType="MailingVo">
		<selectKey keyProperty="mail_idx" resultType="Integer" order="BEFORE">
			SELECT
				seq_mailing_tbl.NEXTVAL
			FROM
				dual
		</selectKey>
		INSERT INTO
			mailing_tbl (
				mail_idx,
				mail_title,
				mail_content,
				mail_kind
				)
		VALUES (
			#{mail_idx},
			#{mail_title},
			#{mail_content},
			#{mail_kind}
		)
	</insert>
	
	<!-- 검색조건 -->
	<sql id="mail_search">
	    <if test="keyword != null and !keyword.equals('')">
	        AND mail_title like '%' || #{keyword} || '%'
	    </if>
	</sql>

	<!-- [메일목록] -->
	<select id="mailing_list" parameterType="Criteria" resultType="MailingVo">
	    SELECT
	        mail_idx, 
	        mail_title, 
	        mail_content, 
	        mail_kind, 
	        mail_send_count, 
	        reg_date
	    FROM (
	        SELECT /*+ INDEX_DESC(mailing_tbl PK_MAILING_IDX) */
	            ROWNUM AS RN, 
	            mail_idx, 
	            mail_title, 
	            mail_content, 
	            mail_kind, 
	            mail_send_count, 
	            reg_date
	        FROM
	            mailing_tbl
	        WHERE
	            1 = 1
	            <include refid="mail_search" />
	            <![CDATA[
	                AND ROWNUM <= (#{pageNum} * #{amount})
	            ]]>
	        )
	    WHERE
	        RN > ((#{pageNum} -1) * #{amount})
	</select>
	
	<!-- [메일목록 총개수] -->
	<select id="getMailingTotalCount" parameterType="Criteria" resultType="int">
	    SELECT
	        COUNT(*)
	    FROM
	        mailing_tbl
	    WHERE
	        1 = 1
	        <include refid="mail_search" />
	</select>
	
	<!-- [저장메일 정보]  -->
	<select id="mailing_save_info" parameterType="int" resultType="MailingVo">
		SELECT
			mail_idx, 
			mail_title, 
			mail_content, 
			mail_kind, 
			mail_send_count, 
			reg_date
		FROM
			mailing_tbl
		WHERE
			mail_idx = #{mail_idx}
	</select>
	
	<!-- [저장메일 수정] -->
	<update id="mailing_modify" parameterType="MailingVo">
		UPDATE 
			mailing_tbl
		SET
			mail_title = #{mail_title}, 
			mail_content = #{mail_content}, 
			mail_kind = #{mail_kind}, 
			reg_date = sysdate
		WHERE
			mail_idx = #{mail_idx}
	</update>
	
	<!-- [저장메일 삭제] -->
	<delete id="mailing_delete" parameterType="int">
		DELETE FROM
			mailing_tbl
		WHERE
			mail_idx = #{mail_idx}
	</delete>
	
	<!-- [마케팅 수신동의 회원목록 메일정보 읽어오기] -->
	<select id="all_mail_address" resultType="String">
		SELECT
			mbsp_email
		FROM
			mbsp_tbl	
		WHERE
			mbsp_receive = 'Y'		
	</select>
		
	<!-- [메일발송 횟수 업데이트] -->
	<update id="mailSendCountUpdate" parameterType="int">
		UPDATE
			mailing_tbl
		SET
			mail_send_count = mail_send_count + 1
		WHERE
			mail_idx = #{mail_idx}
	</update>
	
	
	<!-- [관리자 메인_회원리스트] -->
	<select id="admin_member_list" resultType="MemberVo">
		SELECT
			mbsp_id, 
			mbsp_name, 
			mbsp_email, 
			mbsp_password, 
			mbsp_zipcode, 
			mbsp_addr, 
			mbsp_deaddr, 
			mbsp_phone,
			mbsp_nick, 
			mbsp_receive, 
			mbsp_point, 
			mbsp_lastlogin, 
			mbsp_datesub
		FROM (
			SELECT
				mbsp_id, 
				mbsp_name, 
				mbsp_email, 
				mbsp_password, 
				mbsp_zipcode, 
				mbsp_addr, 
				mbsp_deaddr, 
				mbsp_phone,
				mbsp_nick, 
				mbsp_receive, 
				mbsp_point, 
				mbsp_lastlogin, 
				mbsp_datesub
			FROM
				mbsp_tbl
			ORDER BY mbsp_datesub DESC
			)
		WHERE
			<![CDATA[
			ROWNUM <=5
			]]>
	</select>
	
	
</mapper>