<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smilemall.basic.member.MemberMapper">

	<!-- [아이디 중복체크] -->
	<select id="idCheck" parameterType="String" resultType="String">
		SELECT
			mbsp_id
		FROM
			mbsp_tbl
		WHERE
			mbsp_id= #{mbsp_id}
	</select>

	<!-- [닉네임 중복체크] -->
	<select id="nickCheck" parameterType="String" resultType="String">
		SELECT
			mbsp_nick
		FROM
			mbsp_tbl
		WHERE
			mbsp_nick= #{mbsp_nick}
	</select>

	<!-- [회원가입 저장] // parameterType 경로 생략을 위한 환경설정 등록-->
	<insert id="join" parameterType="MemberVO">
		INSERT INTO
			mbsp_tbl(
				 mbsp_id, 
				 mbsp_name, 
				 mbsp_email, 
				 mbsp_password, 
				 mbsp_zipcode, 
				 mbsp_addr, 
				 mbsp_deaddr, 
				 mbsp_phone, 
				 mbsp_nick, 
				 mbsp_receive)
			VALUES(
				 #{mbsp_id}, 
				 #{mbsp_name}, 
				 #{mbsp_email}, 
				 #{mbsp_password}, 
				 #{mbsp_zipcode}, 
				 #{mbsp_addr}, 
				 #{mbsp_deaddr}, 
				 #{mbsp_phone}, 
				 #{mbsp_nick}, 
				 #{mbsp_receive})
	</insert>

	<!-- [로그인 작업] -->
	<select id="login" resultType="MemberVO" parameterType="String">
		SELECT
			mbsp_id, 
			mbsp_name,
			mbsp_email,
			mbsp_password,
			mbsp_zipcode,
			mbsp_addr,
			mbsp_deaddr,
			mbsp_phone,
			mbsp_nick,
			mbsp_receive,
			mbsp_point,
			mbsp_lastlogin,
			mbsp_datesub,
			mbsp_updatedate
		FROM
			mbsp_tbl
		WHERE
			mbsp_id = #{mbsp_id} 
	</select>

	<!-- [아이디 찾기] -->
	<select id="idfind" resultType="String">
		SELECT
			mbsp_id
		FROM
			mbsp_tbl
		WHERE
			mbsp_name = #{mbsp_name}
		AND
			mbsp_email = #{mbsp_email}	
	</select>

	<!-- [비밀번호 찾기] -->
	<select id="pwfind" resultType="String" parameterType="map">
		SELECT
			mbsp_email
		FROM
			mbsp_tbl
		WHERE
			mbsp_id = #{mbsp_id}
		AND
			mbsp_name = #{mbsp_name}				
		AND
			mbsp_email = #{mbsp_email}
	</select>

	<!-- [비밀번호 업데이트(재설정)] -->
	<update id="tempPwUpdate" parameterType="map">
		UPDATE
			mbsp_tbl
		SET
			mbsp_password = #{temp_enc_pw}
		WHERE
			mbsp_id = #{mbsp_id}
	</update>
	
	<!-- 마이페이지 수정하기 -->
	<update id="modify" parameterType="MemberVO">  
		UPDATE
			mbsp_tbl
		SET
 			mbsp_email = #{mbsp_email}, 
		    mbsp_zipcode = #{mbsp_zipcode}, 
		    mbsp_addr = #{mbsp_addr}, 
		    mbsp_deaddr = #{mbsp_deaddr}, 
		    mbsp_phone = #{mbsp_phone},
		    mbsp_receive = #{mbsp_receive}  
		WHERE
			mbsp_id = #{mbsp_id}
	</update>

	<!-- 비밀번호 변경 -->
	<update id="changePw" parameterType="map">
		UPDATE
			mbsp_tbl
		SET
			mbsp_password = #{new_mbsp_password}
		WHERE
			mbsp_id = #{mbsp_id}
	</update>

	<!-- 회원탈퇴 -->
	<delete id="delete" parameterType="String">
		DELETE FROM
			mbsp_tbl
		WHERE
			mbsp_id = #{mbsp_id}
	</delete>

	<!-- [최근로그인] -->
	<update id="last_login" parameterType="String">
		UPDATE 
			mbsp_tbl
		SET
			mbsp_lastlogin = SYSDATE
		WHERE
			mbsp_id = #{mbsp_id}
	</update>
	
	
	
	
	<!-- 검색조건 : 키워드 -->
	<sql id="criteria">
		<trim prefix="(" suffix=")AND" prefixOverrides="OR">
			<foreach collection="cri.typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'N'.toString()">
							p.pro_name like '%' || #{cri.keyword} || '%'
						</when>
						<when test="type == 'T'.toString()">
							r.re_title like '%' || #{cri.keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							r.re_content like '%' || #{cri.keyword} || '%'
						</when>
						<when test="type == 'Q'.toString()">
							q.qa_title like '%' || #{cri.keyword} || '%'
						</when>
						<when test="type == 'A'.toString()">
							q.qa_content like '%' || #{cri.keyword} || '%'
						</when>
						<when test="type == 'O'.toString()">
							o.ord_code like '%' || #{cri.keyword} || '%'
						</when>											
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- 검색조건 : 날짜  -->
	<sql id="period">
		<if test="start_date != null and !start_date.equals('') and end_date != null and !end_date.equals('')">
			<![CDATA[
			
				${date_column} >= to_date(#{start_date}) AND ${date_column} < to_date(#{end_date}) + 1 AND
			]]>
		
		</if>
	</sql>

	<!-- 검색조건 : 운영자 답변여부 -->
	<sql id="reply_status">
		<if test="reply_status != null and !reply_status.equals('')">
			${reply_column} = #{reply_status} AND
		</if>
	</sql>
	
	<!-- 검색조건 : 결제여부 -->
	<sql id="pay_status">
		<if test="p_status != null and !p_status.equals('')">
			pi.p_status = #{p_status} AND
		</if>
	</sql>



	<!-- [리뷰목록] -->
	<select id="rev_list" parameterType="map" resultType="ReviewVo">
		SELECT
		    re_code, 
		    mbsp_id, 
		    pro_num,
		    pro_name,
		    pro_up_folder,
		    pro_img,
		    re_title, 
		    re_content, 
		    re_rate, 
		    re_date, 
		    re_admin_reply_content, 
		    re_admin_reply_date, 
		    re_admin_reply_status
		FROM (
		    SELECT
		        /*+ INDEX_DESC (r PK_RE_CODE) USE_NL(r p) */
		        ROWNUM AS RN, 
		        r.re_code, 
		        r.mbsp_id, 
		        r.pro_num,
		        p.pro_name,
		        p.pro_up_folder,
		        p.pro_img,
		        r.re_title, 
		        r.re_content, 
		        r.re_rate, 
		        r.re_date, 
		        r.re_admin_reply_content, 
		        r.re_admin_reply_date,
		        r.re_admin_reply_status
		    FROM
		        review_tbl r
		    JOIN
		        product_tbl p ON p.pro_num = r.pro_num
		    WHERE
		    	r.mbsp_id = #{mbsp_id} AND
				<include refid="reply_status">
					<property name="reply_column" value="r.re_admin_reply_status"></property>
				</include>
				
				<include refid="criteria"></include>
				<include refid="period">
					<property name="date_column" value="r.re_date"></property>
				</include>
				<![CDATA[
					ROWNUM <= (#{cri.pageNum} * #{cri.amount})
				]]>
			)
		WHERE
			RN > (#{cri.pageNum} - 1) * #{cri.amount}
	</select>
	
	<!-- [상품리뷰 전체데이터개수] -->
	<select id="getTotalReviewCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			review_tbl r
		JOIN
			product_tbl p ON r.pro_num = p.pro_num
		WHERE	
			<include refid="reply_status">
					<property name="reply_column" value="r.re_admin_reply_status"></property>
				</include>
			
			<include refid="criteria"></include>
			<include refid="period">
				<property name="date_column" value="r.re_date"></property>
			</include>
			mbsp_id = #{mbsp_id}
	</select>
	
	<!-- [리뷰상세보기] -->
	<select id="review_more" parameterType="map" resultType="ReviewVo">
		SELECT
		  	r.re_code, 
	        r.mbsp_id, 
	        r.pro_num,
	        p.pro_name,
	        p.pro_up_folder,
	        p.pro_img,
	        r.re_title, 
	        r.re_content, 
	        r.re_rate, 
	        r.re_date, 
	        r.re_admin_reply_content, 
	        r.re_admin_reply_date,
	        r.re_admin_reply_status
		FROM
			review_tbl r
		JOIN
			product_tbl p ON r.pro_num = p.pro_num
		WHERE
			 r.mbsp_id = #{mbsp_id} 
			 AND 
			 re_code = #{re_code}
	</select>
	
	

	<!-- [문의목록] -->
	<select id="question_list" parameterType="map" resultType="QuestionVo">
		SELECT
		    qa_code, 
		    mbsp_id, 
		    pro_num,
		    pro_name,
		    pro_up_folder,
		    pro_img,
		    qa_title, 
		    qa_content, 
		    qa_date, 
		    qa_admin_reply_content, 
		    qa_admin_reply_date, 
		    qa_admin_reply_status
		FROM (
		    SELECT
		        /*+ INDEX_DESC (q PK_QA_CODE) USE_NL(q p) */
		        ROWNUM AS RN, 
		        q.qa_code, 
		        q.mbsp_id, 
		        q.pro_num,
		        p.pro_name,
		        p.pro_up_folder,
		        p.pro_img,
		        q.qa_title, 
		        q.qa_content, 
		        q.qa_date, 
		        q.qa_admin_reply_content, 
		        q.qa_admin_reply_date,
		        q.qa_admin_reply_status
		    FROM
		        qa_tbl q
		    JOIN
		        product_tbl p ON p.pro_num = q.pro_num
		    WHERE
		    	q.mbsp_id = #{mbsp_id} AND
		    	<include refid="reply_status">
					<property name="reply_column" value="q.qa_admin_reply_status"></property>
				</include>
				<include refid="criteria"></include>
				<include refid="period">
					<property name="date_column" value="q.qa_date"></property>
				</include>
				<![CDATA[
					ROWNUM <= (#{cri.pageNum} * #{cri.amount})
				]]>
			)
		WHERE
			RN > (#{cri.pageNum} - 1) * #{cri.amount}
	</select>
	
	<!-- [문의 전체 데이터 개수] -->
	<select id="getTotalQuestionCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			qa_tbl q
		JOIN
			product_tbl p ON q.pro_num = p.pro_num
		WHERE	
			<include refid="reply_status">
				<property name="reply_column" value="q.qa_admin_reply_status"></property>
			</include>
			<include refid="criteria"></include>
			<include refid="period">
				<property name="date_column" value="q.qa_date"></property>
			</include>
			mbsp_id = #{mbsp_id}
	</select>

	<!-- [문의상세보기] -->
	<select id="question_more" parameterType="map" resultType="QuestionVo">
		SELECT
		  	q.qa_code, 
	        q.mbsp_id, 
	        q.pro_num,
	        p.pro_name,
	        p.pro_up_folder,
	        p.pro_img,
	        q.qa_title, 
	        q.qa_content, 
	        q.qa_date, 
	        q.qa_admin_reply_content, 
	        q.qa_admin_reply_date,
	        q.qa_admin_reply_status
		FROM
			qa_tbl q
		JOIN
			product_tbl p ON q.pro_num = p.pro_num
		WHERE
			q.mbsp_id = #{mbsp_id} 
			AND 
			qa_code = #{qa_code}
	</select>

	
	
	<!-- [주문목록] -->
	<select id="ord_list" parameterType="map" resultType="MemberOrderVo">
		SELECT
	        ord_code, 
	        ord_regdate, 
	        dt_amount,
	        dt_price,
	        pro_num,
	        pro_up_folder,
	        pro_img,
	        pro_name,
	        p_status
	    FROM (
	        SELECT
	            ROWNUM AS RN,  
	            ord_code, 
	            ord_regdate, 
	            dt_amount,
	            dt_price,
	            pro_num,
	            pro_up_folder,
	            pro_img,
	            pro_name,
	            p_status
	        FROM (
	            SELECT
	                o.ord_code, 
	                o.ord_regdate, 
	                ot.dt_amount,
	                ot.dt_price,
	                p.pro_num,
	                p.pro_up_folder,
	                p.pro_img,
	                p.pro_name,
	                pi.p_status
	            FROM
	                order_tbl o
	            JOIN
	                ordetail_tbl ot ON o.ord_code = ot.ord_code
	            JOIN    
	                product_tbl p ON ot.pro_num = p.pro_num
	            JOIN    
	                PAYINFO pi ON o.ord_code = pi.ord_code
	            WHERE
	                o.mbsp_id = #{mbsp_id} AND  
	                <include refid="criteria"></include>  
	                <include refid="pay_status"></include>  
	                <include refid="period">
	                    <property name="date_column" value="o.ord_regdate"></property>
	                </include>  
	                1=1
	            
	            ORDER BY
	                o.ord_code DESC  
	        )
	        WHERE
	     	   <![CDATA[
	            ROWNUM <= (#{cri.pageNum} * #{cri.amount}) 
	            ]]>
	    )
	    WHERE
	        RN > (#{cri.pageNum} - 1) * #{cri.amount} 
	</select>	
	
	<!-- [주문목록 전체 갯수]  -->
	<select id="getTotalOrderCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
		    order_tbl o
		JOIN 
			ordetail_tbl ot ON o.ord_code = ot.ord_code
		JOIN 
			product_tbl p ON ot.pro_num = p.pro_num
		JOIN	
            PAYINFO pi ON o.ord_code = pi.ord_code
		WHERE
			<include refid="pay_status"></include>
           	<include refid="criteria"></include>
			<include refid="period">
				<property name="date_column" value="o.ord_regdate"></property>
			</include>
			o.mbsp_id = #{mbsp_id}
	</select>

		
</mapper>