<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{/layout/baselayout}">
				
  
<body>
	<main role="main">

		<th:block layout:fragment="content">
			
			<div class="container">
				<h1 class="mt-5 text-center" >나의 상품문의</h1>
				<div class="row">

						<div class="col-3">
							<section th:replace="~{member/comm/mypage_menu}"></section>
						</div>
													
						<div class="col-9">


							<!-- 검색옵션 -->
							<div>
								<form action="/member/my_question" method="get" id="search_form" class="form-inline" style="width: 100%;">
									<span class="mr-2" style="width: 65px; font-weight: bold;">검색어</span>
									<div class="form-group mr-2">
										<select class="form-control" name="type">
											<option selected>검색종류 선택</option>
											<option value="N" name="search_type" th:selected="${pageMaker.cri.type =='N'}">상품명</option>
											<option value="Q" name="search_type" th:selected="${pageMaker.cri.type =='Q'}">문의제목</option>
											<option value="A" name="search_type" th:selected="${pageMaker.cri.type =='A'}">문의내용</option>
										</select>
									</div>
									<div class="form-group mr-2">
										<input type="text" class="form-control" id="search_keyword" name="keyword" th:value="${pageMaker.cri.keyword}" style="width:150px;" />
										<input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}"/>
										<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}"/>
									</div>

									<span class="mr-2" style="width: 65px; font-weight: bold;">주문날짜</span>
									<div class="form-group mr-2">
										<input type="date" class="form-control" id="search_start_date" name="start_date" th:value="${start_date}" style="width:150px;" />
									</div>
									<span class="mr-2">~</span>
									<div class="form-group mr-2">
										<input type="date" class="form-control" id="search_end_date" name="end_date" th:value="${end_date}" style="width:150px;" />
									</div>

									<span class="mr-2" style="width: 65px; font-weight: bold;">답변여부</span>
									<div class="form-group mr-2">
										<input type="radio" class="form-control" id="all_reply" name="reply_status" value="" 
										 	th:checked="${reply_status == null || reply_status == ''}"/>
										<label class="form-check-label" for="all_reply">
											전체
										</label>
										<input type="radio" class="form-control" id="reply_y" name="reply_status" value="Y"
										 	th:checked="${reply_status == 'Y'}"/>
										<label class="form-check-label" for="reply_y">
											답변완료
										</label>
										<input type="radio" class="form-control" id="reply_n" name="reply_status" value="N"
											th:checked="${reply_status == 'N'}"/>
										<label class="form-check-label" for="reply_n">
											답변대기
										</label>
									</div>
									
									<div class="form-group w-100 d-flex justify-content-center" style="margin-top: 10px;">
										<button type="submit" class="btn btn-primary" style="margin: 0 5px;">검색</button>
										<button type="button" class="btn btn-danger" id="btn_reset_search" style="margin: 0 5px;">검색초기화</button>
									</div>	
								</form>
							</div>
							
							<hr>


							<div id="question_list" th:if="${!#lists.isEmpty(question_list)}">
								<div th:each="question : ${question_list}">
									<div class="card shadow-sm">
										<div class="card-body">
											<div style="width: 100%;">
												<div class="box_left" style="width: 50%; float: left;">
													<div>
														<span th:text="${question.qa_title}" style="font-weight: bold;"></span>
														<span th:if="${question.qa_admin_reply_status} =='Y'" class="badge badge-danger">답변완료</span>
														<br>
														<span th:text="${#dates.format(question.qa_date, 'yyyy-MM-dd HH:mm:ss')}" style="font-size: 14px;"></span>
													</div>
													<br>
													<div class="d-flex justify-content-between align-items-center">
														<div class="btn-group">
															<button type="button" class="btn btn-sm btn-outline-secondary" name="btn_question_more" th:data-qa_code="${question.qa_code}">리뷰상세보기</button>
														</div>
													</div>
												</div>
												<div class="box_left" style="width: 50%; float: right; text-align:right;">
													<a class="move" th:href="@{/product/pro_detail(pro_num = ${question.pro_num})}">
														<img th:src="${'/admin/product/image_display?dateFolderName=' + question.pro_up_folder + '&fileName=s_' + question.pro_img}" style="width: 120px; height: 120px;">
													</a>
												</div>
											</div>
											
											<div style="clear: both;">
												<br>
												<hr style="margin-top: 5px; margin-bottom: 5px;">
												<div style="width: 100%;">
													<div style="width: 50%; float: left;">
														<a class="move" th:href="@{/product/pro_detail(pro_num = ${question.pro_num})}">
															<small><span>상품명: </span><span th:text="${question.pro_name}"></span></small>
														</a>
													</div>
													<div style="width: 50%; float: right; text-align:right;">
														<button type="button" class="btn btn-sm btn-outline-primary" name="btn_question_edit" th:data-qa_code="${question.qa_code}">수정</button>
														<button type="button" class="btn btn-sm btn-outline-secondary" name="btn_question_delete" th:data-qa_code="${question.qa_code}">삭제</button>
												</div>
												</div>	
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<div th:if="${#lists.isEmpty(question_list)}" style="text-align: center;">
								<span><strong>표시할 내역이 없습니다.</strong></span>
							</div>
							<br>

							<!-- 페이징 박스 시작-->  
							<div class="box-footer clearfix">
								
								<div class="row" th:if="${!#lists.isEmpty(question_list)}">
									<!--페이징-->
									<div class="col-md-12 text-center">
										
										<nav aria-label="...">
											<ul class="pagination">
												<!-- 이전 표시여부 -->
												
												<th:block th:if="${pageMaker.prev }">
													<li class="page-item">
														<a th:href="${pageMaker.startPage - 1 }" class="page-link movepage">Previous</a>
													</li>
												</th:block>
			
												<th:block th:with="pageMaker = ${pageMaker}">
													<th:block th:each="num : *{#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
													<li class='page-item' th:classappend="${pageMaker.cri.pageNum ==  num ? 'active': '' }" aria-current="page">
														<a class="page-link movepage" th:href="${num }" th:text="${num }"></a>
													</li>
													</th:block>
												</th:block>
			
												<!--  다음 표시여부 -->
												<th:block th:if="${pageMaker.next }">
													<li class="page-item">
														<a th:href="${pageMaker.endPage + 1 }" class="page-link movepage">Next</a>
													</li>
												</th:block>
											</ul>
										</nav>
									</div>
									<!--페이징 끝.-->
								</div>

								<!--페이징 액션폼-->
								<div class="row">
									<form id="actionForm" action="" method="get">
										<input type="hidden" name="pageNum" id="pageNum" th:value="${pageMaker.cri.pageNum}" />
										<input type="hidden" name="amount" id="amount" th:value="${pageMaker.cri.amount}" />
										<input type="hidden" name="type" id="type" th:value="${pageMaker.cri.type}" />
										<input type="hidden" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}" />
										<input type="hidden" name="reply_status" id="reply_status" th:value="${reply_status}" />
										<input type="hidden" name="start_date" id="start_date" th:value="${start_date}" />
										<input type="hidden" name="end_date" id="end_date" th:value="${end_date}" />
									</form>
								</div>
								<!-- 페이징 액션폼 끝.-->

							</div>
							<!-- 페이징 박스 끝-->  


					
						</div>					
						<!-- 메인 Content 끝 -->
					
					
				</div>
			</div>


			<!-- 문의상세보기 모달-->
			<div class="modal fade" id="question_more_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">문의상세보기</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<div class="modal-body">
						
							<div>
								<div style="font-size: 20px;">
									<strong>[사용자 문의 내용]</strong>
								</div>
								<div>
									<!--사용자 문의내용-->
									<table class="table table-bordered" name="table_info">
										<tr>
											<th style="width: 25%;">작성날짜</th>
											<td>
												<span id="qa_date"></span>
											</td>
										</tr>
										<tr>
											<th>상품정보</th>
											<td>
												<div>
													<img id="pro_img_url" style="width: 80px; height: 80px;">
												</div>
												<div>
													<span id="pro_name"></span>
												</div>
											</td>
										</tr>
								
								
										<tr>
											<th>문의제목</th>
											<td>
												<span id="qa_title"></span>
											</td>
										</tr>
										<tr>
											<th>문의내용</th>
											<td>
												<span id="qa_content"></span>
											</td>
										</tr>								   
									</table>
								</div>
							</div>

							<div id="admin_reply">
								<div style="font-size: 20px;">
									<strong>[운영자 답변]</strong>
								</div>
								<div>
									<!--운영자 답변 -->
									<table class="table table-bordered" name="table_info">
										<tr>
											<th  style="width: 25%;">답변날짜</th>
											<td>
												<span id="qa_admin_reply_date"></span>
											</td>
										</tr>
										<tr>
											<th>답변</th>
											<td>
												<span id="qa_admin_reply_content"></span>
											</td>
										</tr>
									</table>
								</div>
							</div>



						</div>
					</div>
				</div>
			</div>
			<!-- 문의상세보기 모달 끝-->

			<!-- 상품문의수정 모달-->
			<div class="modal fade" id="question_edit_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">상품문의 수정</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="card-body">
									<div class="form-group row">
										<label for="qa_title" class="col-form-label"><strong>제목</strong></label>
										<select class="form-control" id="edit_qa_title">
											<option value="상품문의">상품문의</option>
											<option value="배송문의">배송문의</option>
											<option value="결제문의">결제문의</option>
											<option value="반품문의">반품문의</option>
										  </select>


										<input type="hidden" class="form-control" id="qa_code">
									</div>
									<div class="form-group row">
										<label for="qa_content" class="col-form-label"><strong>내용</strong></label>
										<textarea class="form-control" id="edit_qa_content"></textarea>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" id="btn_question_modify" class="btn btn-primary">상품후기 수정</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 상품문의수정 모달 끝-->




		</th:block>
	</main>
	
	
	<!-- 페이지별 필요한 스크립트 재정의 -->
    <th:block layout:fragment = "script">
		<script>
			$(document).ready(function(){


				// 액션폼 전역변수
				let actionForm = $("#actionForm"); 

				// 문의페이지 전역변수
				let questionUrl = "/member/my_question";


				// [페이징]
				$(".movepage").on("click", function(e) {
					e.preventDefault();
					actionForm.attr("action", "/member/my_question");
					actionForm.find("input[name='pageNum']").val($(this).attr("href"));
					actionForm.submit();
				});

				// [문의상세보기]
				$("button[name='btn_question_more']").on("click", function() {
					let qa_code = $(this).data("qa_code");
					openQuestionMoreModal(qa_code);
					
				});

				// [상품문의 수정폼]  
				$("div#question_list").on("click", "button[name='btn_question_edit']", function() {
					let qa_code = $(this).data("qa_code");

					$.ajax({
						url: '/member/question_modify/' + qa_code,
						headers: {"Content-Type" : "application/json"},
						type: 'get',
						dataType: 'json',
						success: function(result) {
							console.log("수정할데이터:" + result);

							//수정내용출력 / 
							$("#edit_qa_title").val(result.qa_title);
							$("#edit_qa_content").val(result.qa_content);
							$("#qa_code").val(result.qa_code);
							
							
							$("#question_edit_modal").modal('show');
						}
					});
				});

				// [상품문의 수정하기] 
				$("button#btn_question_modify").on("click", function() {

					let qa_code = $("#qa_code").val();
					let qa_title = $("#edit_qa_title").val();
					let qa_content = $("#edit_qa_content").val();

					// (유효성검사)
					if(qa_title == "") {
						alert("제목을 선택하세요");
						return;
					}

					if(qa_content == "") {
						alert("내용을 입력하세요");
						return;
					}


					// 자바스크립트 object문법으로 데이터 전달
					let question_data = {qa_title : qa_title, qa_content : qa_content, qa_code : qa_code}; 

					$.ajax({
						url: '/member/question_modify',
						headers: {"Content-Type" : "application/json", "X-HTTP-Method-Override" : "PUT"},
						type: 'put',
						data: JSON.stringify(question_data),  //자바스크립트  object문법을 json으로 변환하는 작업
						dataType: 'text',
						success: function(result) {
							if(result == "success") {
								alert("상품후기가 수정되었습니다.");
								$("#question_edit_modal").modal('hide');


								// 현재 페이지 번호와 검색 조건
								let currentPage = $("input[name='pageNum']").val();
								let currentType = $("input[name='type']").val();  // 검색 조건
								let currentKeyword = $("input[name='keyword']").val();  // 검색 키워드

								// 검색 조건과 페이지 번호를 포함한 url 호출
								getData(questionUrl + "?type=" + currentType + "&keyword=" + encodeURIComponent(currentKeyword) + "&pageNum=" + currentPage);

							}
						},
						beforeSend : function(xhr) {
							xhr.setRequestHeader("AJAX", "true");
						},
						error : function() {
							location.href = "/member/login";
						}
					});
				});

				// [상품문의 삭제]
				$("div#question_list").on("click", "button[name='btn_question_delete']", function() {
					if(!confirm("상품문의를 삭제하시겠습니까?")) return;

					let qa_code = $(this).data("qa_code");
					$.ajax({
						url: '/member/question_delete/' + qa_code,
						headers: {"Content-Type" : "application/json", "X-HTTP-Method-Override" : "DELETE" },
						type: 'delete',
						dataType: 'text',
						success: function(result) {
							if(result == "success") {
								alert("상품문의가 삭제되었습니다.");
								
								// 현재 페이지 번호와 검색 조건
								let currentPage = $("input[name='pageNum']").val();
								let currentType = $("input[name='type']").val();  // 검색 조건
								let currentKeyword = $("input[name='keyword']").val();  // 검색 키워드

								// 검색 조건과 페이지 번호를 포함한 url 호출
								getData(questionUrl + "?type=" + currentType + "&keyword=" + encodeURIComponent(currentKeyword) + "&pageNum=" + currentPage);
							}
						}
					});
				});

				// [검색초기화] id="btn_reset_search", id="search_form", id="search_keyword" 
				$("#btn_reset_search").on("click",function() {       
					$("#search_keyword").val('');	
					$("#search_start_date").val('');	
					$("#search_end_date").val('');	
					$("option[name='search_type']").val('');
					$("input[name='pageNum']").val(1);  
					$("input[name='reply_status'][value='']").prop("checked", true);
					$("#search_form").submit();			
				});

				// [유효성 검사]
				$("#search_form").on("submit", function(e) {
									
					// 기간을 모두 작성하지 않았을 때
					let start_date = $("#search_start_date").val();
					let end_date = $("#search_end_date").val();

					if((start_date && !end_date) || (!start_date && end_date)) {
						e.preventDefault();
						alert("날짜 조건을 정확히 입력해주세요.");
						return false;
					}


					// 검색어가 있고 옵션이 기본값일때
					let search_type = $("select[name='type']").val();
					let search_keyword = $("#search_keyword").val();
					//console.log("검색어:" + "'" + search_keyword + "'");
					//return false;
					
					if(search_keyword !== "" && search_type === "검색종류 선택") {
						e.preventDefault();
						alert("검색종류를 선택해주세요.");
						return false;
					}

				});


				// [함수]문의상세보기
				function openQuestionMoreModal(qa_code) {
					$.ajax({
						url: '/member/question_more/' + qa_code,
						headers: {"Content-Type" : "application/json"},
						type: 'get',
						dataType: 'json',
						success: function(result) {
							console.log("조회할 문의데이터:" + result);

							//조회내용출력 
							$("#mbsp_id").text(result.mbsp_id);
							$("#pro_num").text(result.pro_num);
						
							$("#pro_name").text(result.pro_name);
							$("#qa_title").text(result.qa_title);
							$("#qa_content").text(result.qa_content);
							$("#qa_date").text(formatDate(result.qa_date));
							$("#qa_admin_reply_content").text(result.qa_admin_reply_content);
							$("#qa_admin_reply_date").text(formatDate(result.qa_admin_reply_date));								

							let img_url = '/admin/product/image_display?dateFolderName=' + result.pro_up_folder + '&fileName=s_' + result.pro_img;
							//console.log("이미지url:", img_url);
							$("#pro_img_url").attr("src",img_url);

							//qa_admin_reply_status
							let admin_status = result.qa_admin_reply_status;
							//console.log("운영자 답변상태:", admin_status);

							if(admin_status == 'N') {
								$("#admin_reply").hide();
							}

							$("#question_more_modal").modal('show');
						}
					});
				}

				// [함수]날짜 형식변환
				function formatDate(dateStr){
					const date = new Date(dateStr);
					const yyyy = date.getFullYear();
					const MM = String(date.getMonth() + 1).padStart(2, '0');
					const dd = String(date.getDate()).padStart(2, '0');
					const HH = String(date.getHours()).padStart(2, '0');
					const mm = String(date.getMinutes()).padStart(2, '0');
					const ss = String(date.getSeconds()).padStart(2, '0');
					return `${yyyy}-${MM}-${dd} ${HH}:${mm}:${ss}`;
				}
				
				// [함수]데이터 다시 불러오기
				function getData(url) {
					$.ajax({
						url: url,
						type: 'get',
						dataType: 'html',
						success: function(data) {
							$("#question_list").html($(data).find("#question_list").html());
				
				
							// '리뷰상세보기' 모달 이벤트 다시 바인딩
							$("button[name='btn_question_more']").on("click", function() {
								let qa_code = $(this).data("qa_code");
								openQuestionMoreModal(qa_code);
							});
						},
						error: function() {
							alert("문의정보를 불러올 수 없습니다.");
						}
					});
				}




				




			}); //ready end
		</script>	
	
	
		

		
		
    
    </th:block>
    
</body>
</html> 
