<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{/layout/baselayout}">
				
  
<body>
	<main role="main">

		<th:block layout:fragment="content">
			
			<div class="container">
			<h1 class="mt-5 text-center" >비밀번호 찾기</h1>
				<div calss="row">
					<div class="col">
					
						<!-- 메인 Content 시작 -->
						<div class="card card-info">
							<div class="card-header">
								<h3 class="card-title">비밀번호 찾기 정보 입력</h3>
							</div>
							
							<form class="form-horizontal" id="pwFindForm" action="/member/pwfind" method="post">
								<div class="card-body">
									<div class="form-group row">
										<label for="mbsp_name" class="col-sm-4 col-form-label">이름</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="mbsp_name" name="mbsp_name" placeholder="이름">
										</div>									
									</div>
									<div class="form-group row">
										<label for="mbsp_id" class="col-sm-4 col-form-label">아이디</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="mbsp_id" name="mbsp_id" placeholder="아이디">
										</div>									
									</div>
									
									<div class="form-group row">
										<label for="mbsp_email" class="col-sm-4 col-form-label">이메일</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="mbsp_email" name="mbsp_email" placeholder="이메일">
										</div>
										<div class="col-sm-2">
											<button type="button" class="btn btn-outline-primary" id="btnMailAuthcode">인증번호 발송</button>									
										</div>
									</div>
									<div class="form-group row">
										<label for="authcode" class="col-sm-4 col-form-label">인증번호</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="authcode" name="authcode" placeholder="인증번호">
										</div>
									</div>

								</div>
								
								<div class="card-footer text-center">
									<button type="submit" class="btn btn-info btn-block" id="btnpwFind">비밀번호 찾기</button>
								</div>
							
							</form>
							
						</div>					
						<!-- 메인 Content 끝 -->
					
					</div>
				</div>
			</div>

		</th:block>
	</main>
	
	
	<!-- 페이지별 필요한 스크립트 재정의 -->
    <th:block layout:fragment = "script">

    
    	<script th:inline ="javascript">
    		
    		let msg = [[ ${msg} ]];
    		if(msg == "success") {
                alert("임시비밀번호를 메일로 발송하였습니다.");
            } else if(msg == "failInput") {
                alert("기본입력정보를 확인해주세요.");
                document.getElementById("mbsp_id","mbsp_name").focus();
            } else if(msg == "failAuth") {
                alert("인증코드를 확인해주세요.");
                document.getElementById("authcode").focus();
            }
			
    		
    		
    		$(document).ready(function(){
    			// [인증코드 발급시]
    			$("#btnMailAuthcode").on("click", function(){
    				
    				if($("#mbsp_email").val() == "") {
    					alert("메일을 입력하세요.");
    					$("#mbsp_email").focus();
    					return;
    				}
    				
    				$.ajax({
    					url : '/email/authcode',
    					type : 'get',
     					data : {receiverMail : $("#mbsp_email").val(), type : "emailPw"},
    					dataType : 'text',
    					success : function(result) {
    						if(result == "success") {
    							alert("메일로 인증코드가 발급되었습니다.")
    						}
    					}
    				});
    			}); //[인증코드 발급시]. 끝.
    			
    			
    			
    		}) //ready. 끝
    		
    		
    		
    
    		
    		
		</script>
		
    
    </th:block>
    

		
   
    
    
</body>
</html> 
