<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="/admin/admin_menu" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>:D</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Smile</b>Mall :D</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only"></span>
    </a>

    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
      
        <!-- 관리자 환영 문구 -->
        <li style="color: white; font-size: 14px;  margin-right: 20px;  line-height: 50px;">
          관리자님 환영합니다.
        </li>
      
        <!-- 쇼핑몰 이동 -->
        <li>
          <a href="/">
            <i class="fa fa-home"></i>
          </a>
        </li>

        <!--로그아웃-->
        <li>
      		<a href="/admin/admin_logout">로그아웃</a>
      	</li>


      </ul>
    </div>
  </nav>
</header>