<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">상품관리</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>상품관리</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/admin/product/pro_insert">상품등록</a></li>
          <li><a href="/admin/product/pro_list">전체상품관리</a></li>
          <li><a href="#">재고관리</a></li>
          <li><a href="#">상품진열관리</a></li>
          <li><a href="#">카테고리관리</a></li>
        </ul>
      </li>
      
      <li class="header">주문관리</li>     
      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>주문관리</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/admin/order/order_list">전체주문목록</a></li>
          <li><a href="#">입금대기</a></li>
          <li><a href="#">입금완료</a></li>
          <li><a href="#">배송준비</a></li>
          <li><a href="#">배송중</a></li>
          <li><a href="#">배송완료</a></li>          
        </ul>
      </li>     
      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>취소/교환/반품/환불관리</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#">입금전 취소</a></li>
          <li><a href="#">배송전 환불</a></li>
          <li><a href="#">배송후 반품</a></li>
          <li><a href="#">배송후 교환</a></li>    
        </ul>
      </li>    
    
      <li class="header">통계분석</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>통계분석</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#">접속자 통계</a></li>
          <li><a href="#">주문통계</a></li>         
        </ul>
      </li>    
 
      <li class="header">고객지원</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>회원관리</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/admin/member/member_list">전체회원목록</a></li>
          <li><a href="#">회원등급목록</a></li>
          <li><a href="#">회원탈퇴목록</a></li>
          <li><a href="#">포인트관리</a></li>

        </ul>
        <a href="#"><i class="fa fa-link"></i> <span>문의/후기/게시판관리</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#">1:1상담문의</a></li>
          <li><a href="#">상품문의</a></li>
          <li><a href="#">후기관리</a></li>
          <li><a href="#">공지사항관리</a></li>
          <li><a href="#">입고지연안내 관리</a></li>
        </ul>
      </li>           
    
  
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>