<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{/layout/baselayout}">
				
  
<body>
	<main role="main">

		<th:block layout:fragment="content">
			
			<div class="container">
			<h1 class="mt-5 text-center" >주문완료</h1>
				<div style="text-align: center;">
					
				    <span>주문이 완료되었습니다.</span>
					<br>
					<span>무통장 입금을 진행해주세요.</span>
					<br>
					<button type="button" class="btn btn-light" onclick="location.href='/'">홈으로</button>
					
				</div>
			</div>

		</th:block>
	</main>
	
	

    
</body>
</html> 
