<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{/layout/baselayout}">
				

<body>
	<main role="main">
		<th:block layout:fragment="content">
			

			<!-- 카테고리 제목 -->
			<section class="jumbotron text-center">
				<div class="container">
				<h1 th:utext="${cat_name}"></h1> <!-- ProductController.java에서 cat_name매개변수로 작업 --> <!-- &등의 기호를 그대로 가져오려고  utext작업?-->
				</div>
			</section>
			<!-- 카테고리 제목 끝 -->

			<!-- 상품 템플릿 시작 -->
			<div class="album py-5 bg-light">
				<div class="container">
				
					<div class="row">
					<div class="col-md-4" th:each="product : ${pro_list}">  
						<div class="card mb-4 shadow-sm">
							<a class="move" th:href="@{/product/pro_detail(pro_num = ${product.pro_num})}">
								<img th:src="${'/product/image_display?dateFolderName=' + product.pro_up_folder + '&fileName=s_' + product.pro_img}" style="width:100%; height:255px"  />       
							</a>
						<div class="card-body">
							<p class="card-text">
								<a class="move" th:href="@{/product/pro_detail(pro_num = ${product.pro_num})}">
									<span th:text="${product.pro_name}"></span>
								</a>
								<br>
								<span th:text="${#numbers.formatInteger(product.pro_price, '3', 'COMMA') +'원'}"></span>
							</p>    
							
							<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-outline-secondary" name="btn_cart_add" th:data-pro_num="${product.pro_num}">장바구니 담기</button>
							</div>
							<small class="text-muted">(review : 0)</small>
							</div>
						</div>
						</div>
					</div>
					</div>
				
					<!-- 페이징 -->
					<div class="row">
						<div class="col-md-12" >
							<nav aria-label="...">
								<ul class="pagination"> <!-- config.html에 pagination으로 가운데 정렬 요소 추가 -->
									<th:block th:if="${pageMaker.prev}">					
										<li class="page-item">
											<a class="page-link movepage" th:href="${pageMaker.startPage - 1}">이전</a>
										</li>
									</th:block>	

									<th:block th:if="${pageMaker}">
										<th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
											<li class="page-item" aria-current="page" th:classappend="${pageMaker.cri.pageNum == num ? 'active' : '' }">
												<a class="page-link movepage" th:href="${num}" th:text="${num}"></a>
											</li>
										</th:block>		
									</th:block>		
									
									<th:block th:if="${pageMaker.next}">					
										<li class="page-item">
											<a class="page-link movepage" th:href="${pageMaker.endPage + 1}">다음</a>
										</li>
									</th:block>		
									</ul>

							</nav>
						</div>
					</div>
					<!-- 페이징 끝-->
					
					<!-- 페이징 액션폼 -->
					<div class="row">
						<form id="actionForm" action="" method="get">
							<input type="hidden" name="pageNum" id="pageNum" th:value="${pageMaker.cri.pageNum}" />
							<input type="hidden" name="amount" id="amount" th:value="${pageMaker.cri.amount}" />

							<input type="hidden" name="cat_code" id="cat_code" th:value="${cat_code}" />
							<input type="hidden" name="cat_name" id="cat_name" th:value="${cat_name}" />
						</form>
					</div>
					<!-- 페이징 액션폼 끝 -->

				</div>
			</div> 
			<!--상품 템플릿 끝 -->


			<!-- 장바구니에 담기 Modal -->
			<div class="modal fade" id="order_cart_popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">장바구니 담기</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body" id="popup_info">
						<!--pro_info.html 내용 삽입--> 
					</div>
					
				</div>
				</div>
			</div>
			<!-- 장바구니에 담기 modal 끝-->


		</th:block>
	</main>
	
	
	<!-- 페이지별 필요한 스크립트 재정의 -->
    <th:block layout:fragment = "script">
		
		<!-- 제이쿼리 사용 시작 -->
		<script>
			$(document).ready(function(){
				
				// 액션폼 전역변수
				let actionForm = $("#actionForm");

				// 페이징 이동시 액션폼 동작
				$(".movepage").on("click", function(e) {
					e.preventDefault(); // a태그 href기능제거
					actionForm.attr("action", "/product/pro_list"); // 액션폼 action의 속성 제어
					actionForm.find("input[name='pageNum']").val($(this).attr("href")); // 액션폼의 input 태그중 name값이 pageNum인 태그의 값에 href 속성
					actionForm.submit();
				});


				// 장바구니 담기 클릭시 상품정보 modal 출력    버튼 :name="btn_cart_add"  모달: id="order_cart_popup"   상품정보load위치: id="popup_info"
				$("button[name='btn_cart_add']").on("click", function() {
					$("#order_cart_popup").modal('show');   //버튼 클릭시 모달창 출력

					let pro_num = $(this).data("pro_num");  // 상품번호
					console.log("상품코드:", pro_num);

					$("#popup_info").load("/product/pro_info?pro_num="+ pro_num);  // 상품정보 모달창 내부 출력
				});

				// 장바구니 담기  모달:id="order_cart_popup", 모달 내 장바구니 담기 버튼:id="btn_cart_add"
				$("#order_cart_popup").on("click", "button#btn_cart_add", function() {
					
					let pro_num = $(this).data("pro_num");
					let cart_amount = $("#btn_cart_amount").val();

					console.log("pro_num확인: "+ pro_num);
					console.log("cart_amount확인: "+ cart_amount);

					$.ajax({
						url:'/cart/cart_add' ,
						type: 'get',
						data: {pro_num:pro_num, cart_amount:cart_amount},
						dataType: "text", 
						success: function(result) {
							if(result == 'success') {
								alert("장바구니에 등록 되었습니다.");
								if(confirm("장바구니로 이동하시겠습니까?")) {
									location.href="/cart/cart_list";
								}
								$("#order_cart_popup").modal('hide');
							}
						}
					});

				});


				// [상품바로구매시]  id="btn_direct_buy"
				$("#order_cart_popup").on("click", "button#btn_direct_buy", function() {
					let pro_num = $(this).data("pro_num");
					let cart_amount = $("#btn_cart_amount").val();
					let pro_name = $("#info_pro_name").html();
					let pro_up_folder = $(this).data("pro_up_folder");
					let pro_img = $(this).data("pro_img");
					let pro_price = $("#pro_price").val();

					if(cart_amount == 0 || cart_amount < 0) {
						alert("최소 주문수량은 1개 입니다.");
						retrun;
					}

					let queryParams = $.param({
						pro_num : pro_num,
						cart_amount : cart_amount,
						pro_name: pro_name,
						pro_up_folder: pro_up_folder,
						pro_img: pro_img,
						pro_price: pro_price,
						type:'direct'
					});

					location.href = "/order/orderinfo?" + queryParams;
				});








			}); //ready 끝.
		</script>
		<!-- 제이쿼리 사용 끝 -->
		
    </th:block>
    
</body>
</html> 
