<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{admin/layout/adminlayout}">

    <th:block layout:fragment = "content">
	  <!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper">
	    <!-- Content Header (Page header) -->
	    <section th:replace="~{admin/carousel/carousel_top_menu}"></section>
	
	    <!-- Main content -->
	    <section class="content container-fluid">
	
	      <div class="row">
	    		<div class="col-md-12">
	    			<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title mt-5" style="font-weight:bold;">슬라이드 수정폼</h3>
						</div>
						<!-- 절대경로 /board/register -->
						<form role="form" method="post" action="/admin/carousel/carousel_edit" enctype="multipart/form-data" style="padding-right:40px; padding-left:40px;">
							<div class="box-body">

								<div class="form-group row">
									<label for="title" class="col-sm-2 col-form-label">메인페이지 게시여부</label>
									<div class="col-sm-10">
										<select class="form-control" id="carousel_view_status" name="carousel_view_status">
										<option value="Y" th:selected="${CarouselVo.carousel_view_status =='Y'}">Y</option>
										<option value="N" th:selected="${CarouselVo.carousel_view_status =='N'}">N</option>
										</select>
									</div>
								</div>
								<hr>

								<div class="form-group row">
									<label for="title" class="col-sm-2 col-form-label">슬라이드 제목</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="carousel_title" id="carousel_title" th:value="${CarouselVo.carousel_title}">
										<input type="hidden" class="form-control" name="carousel_num" id="carousel_num" th:value="${CarouselVo.carousel_num}">
									</div>
								</div>

								<div class="form-group row">
									<label for="title" class="col-sm-2 col-form-label">슬라이드 설명</label>
									<div class="col-sm-10">
										<textarea class="form-control" name="carousel_content" id="carousel_content" rows="3" th:text="${CarouselVo.carousel_title}"></textarea>
									</div>
								</div>

								<div class="form-group row">
									<label for="title" class="col-sm-2 col-form-label">이미지 업로드</label>
									<div class="col-sm-10">
										<input type="file" class="form-control" name="uploadFile" id="uploadFile">
										<input type="hidden" class="form-control" name="carousel_up_folder" id="carousel_up_folder" th:value="${CarouselVo.carousel_up_folder}">
				              			<input type="hidden" class="form-control" name="carousel_img" id="carousel_img" th:value="${CarouselVo.carousel_img}">
									</div>
								</div>

								<div class="form-group row">
									<label for="title" class="col-sm-2 col-form-label">이미지 미리보기</label>
									<div class="col-sm-10">
										<img id="img_preview" style="width:600px;height:200px;" th:src="${'/admin/carousel/image_display?dateFolderName=' + CarouselVo.carousel_up_folder + 
											'&fileName=' + CarouselVo.carousel_img}">
									</div>
								</div>
					
								<!--Creteria 파라미터를 위한 정보 -->
								<input type="hidden" name="pageNum" id="pageNum" th:value="${cri.pageNum}" />
								<input type="hidden" name="amount" id="amount" th:value="${cri.amount}" />
								<input type="hidden" name="type" id="type" th:value="${cri.type}" />
								<input type="hidden" name="keyword" id="keyword" th:value="${cri.keyword}" />
								
							</div>
							<div class="box-footer">
								<div class="text-center">
									<button type="submit" class="btn btn-primary">수정</button>
									<a class="btn btn-primary" th:href="@{/admin/carousel/carousel_list}">취소</a>
								</div>
							</div>
						</form>
					</div>
	    		</div>
	    	</div>
	
	    </section>
	    <!-- /.content -->
	  </div>
	  <!-- /.content-wrapper -->
    </th:block>


    <th:block layout:fragment = "script">
      <script>
		$(document).ready(function(){


			// [파일첨부시 이미지 미리보기]
			$("#uploadFile").on("change", function(e) {

				// 관리자가 넣은 파일 
				let file = e.target.files[0];

				//reader객체 생성, FileReader: 파일을 읽고 파일의 내용을 다양한 방식으로 반환할 수 있는 객체 
				let reader = new FileReader();
				//file의 객체를 읽고 데이터 url로 변환
				reader.readAsDataURL(file);

				// 읽기 동작이 성공적으로 완료됐을 때 발생
				reader.onload = function(e) {
					// src속성을 읽어온 이미지데이터url로 변경
					$("#img_preview").attr("src", e.target.result);
				}
			});





		});  //ready end
      
      
      </script>
    </th:block>


</html>
